# python compiled
*.pyc

# model weights
*.gguf

# downloaded files
services/llm/notebooks/*
services/llm/notebooks/downloads/*
services/llm/downloads/*
services/llm/examples/downloads/*

uv.lock
*.egg-info 